.private-template {
  display: flex;

  @import "./searchBar/index.scss", "./sideBar/index.scss", "./sideBarItem/index.scss";

  .private-content {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;

    main {
      padding: 25px;
      min-height: calc(100vh - 60px);
    }
  }
}
