.private-template {
  display: flex;

  .sidebar {
    background: white;
    box-shadow: 6px 0px 18px 0px rgba(0, 0, 0, 0.06);
    height: 100vh;
    width: 256px;

    .side-bar-items {
      padding: 25px;
      border-bottom: 2px solid $divider_color;
    }
    
    .side-bar-items-footer{
        padding: 25px;
    }

    .brand {
      height: 60px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid $divider_color;
      padding: 0 25px;
    }
  }
  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0px 25px;
    border-bottom: 2px solid $divider_color;
  }

  .private-content {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;

    main {
      padding: 25px;
      min-height: calc(100vh - 60px);
    }
  }
}
