.private-template {
  display: flex;

  @import "./searchBar/index.scss",
          "./sideBar/index.scss",
          "./sideBarItem/index.scss";

  .private-content {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;

    main {
      padding: 25px;
      height: calc(100vh - 60px);
      overflow-y: scroll;
      
      @media screen and (max-width: 991px){
        max-width: 100vw;
        min-height: 100vh;
        overflow-y: hidden;
        height: 100%;
      }
    }
  }
}
