.button {
  font-family: "Epilogue Variable", sans-serif;
  font-weight: 700;
  letter-spacing: -0.065em;
  color: #fbfbfb;
  
  &.btn-default {
    font-size: 22px;
    background: #081b4e;
    border-radius: 10px;
    padding: 10px 20px;
  }
  &.btn-text {
    color: $blue-800;
  }

  &.fit {
    width: fit-content;
  }

  &.full {
    width: 100%;
  }

  &.sm {
    font-size: 16px;
  }

  &.md {
    font-size: 22px;
  }

  &.lg {
    font-size: 24px;
  }

  svg {
    width: 16px;
    height: 16px;
    margin-left: 9px;
  }
}
