.side-bar-items {
  padding: 25px 15px;
  border-bottom: 2px solid $divider_color;

  .active {
    a {
      color: $orange-500;
    }

    #svg-color {
      stroke: $orange-500;
    }
  }

  .sidebar-item {
    a {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 10px;

      &:hover {
        background-color: $grey-background;
        border-radius: 10px;
      }

      span {
        margin-left: 10px;
      }
    }
  }
}

.side-bar-items-footer {
  padding: 25px 15px;

  .sidebar-item {
    a {
      display: flex;
      width: 100%;
      padding: 10px 10px;
      cursor: pointer;

      &:hover {
        background-color: $grey-background;
        border-radius: 10px;
      }

      span {
        margin-left: 10px;
      }
    }
  }
}
