* {
  transition-duration: 0.3s;
  animation-duration: 0.3s;
  outline: none !important;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: $blue-200;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: $divider_color;
}

a{
  text-decoration: none;
}

hr{
  background-color: $divider_color;
}